In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('seinet_results.csv', index_col=0)
df.drop(columns = ['Unnamed: 0', 'seinet_status'], inplace = True)
print(df.shape)
print(df.columns)

(1057, 5)
Index(['Genus', 'Species', 'FNA', 'VPAP', 'SW Field Guide'], dtype='object')

In [3]:
df['Species name'] = df.Genus + ' ' + df.Species

In [4]:
plant_list = pd.read_csv('master_plant_list.csv', index_col=0)

In [5]:
df = df.merge(plant_list, left_on = 'Species name', right_on = 'Species', how = 'left')
df.drop(columns = 'Species_y', inplace = True)
df.rename(columns = {'Species_x' : 'Species'}, inplace = True)
df.head()

,Genus,Species,FNA,VPAP,SW Field Guide,Species name,Family
0,Carlowrightia,arizonica,NaN,NaN,"Wiggins 1964, Daniel 1984, Kearney and Peebles...",Carlowrightia arizonica,ACANTHACEAE
1,Justicia,californica,NaN,NaN,"Benson and Darrow 1981, Hickman 1993, Powell 1...",Justicia californica,ACANTHACEAE
2,Mesembryanthemum,nodiflorum,"Nancy J. Vivrette, John E. Bleck & Wayne R. Fe...",NaN,FNA 2004 Duration : Annual Nativity : Non-Nati...,Mesembryanthemum nodiflorum,AIZOACEAE
3,Trianthema,portulacastrum,Wayne R. Ferren Jr. in Flora of North America ...,NaN,"Kearney and Peebles 1969, FNA 2004, Correll an...",Trianthema portulacastrum,AIZOACEAE
4,Amaranthus,crassipes,Sergei L. Mosyakin & Kenneth R. Robertson in F...,NaN,NaN,Amaranthus crassipes,AMARANTHACEAE

# Lifecycle duration

In [6]:
def extract_life_duration(text):
    """
    Extract plant life duration from descriptive text.

    Parameters
    ----------
    text : str or None

    Returns
    -------
    str
        One of:
        'annual', 'biennial', 'perennial',
        'annual/biennial', 'annual/perennial',
        'biennial/perennial', 'unknown'
    """
    if not text or not isinstance(text, str):
        return "unknown"

    t = text.lower()

    found = set()

    # strict word boundaries to avoid false matches
    patterns = {
        "annual": r"\bannual\b",
        "biennial": r"\bbiennial\b",
        "perennial": r"\bperennial\b"
    }

    for label, pattern in patterns.items():
        if re.search(pattern, t):
            found.add(label)

    if not found:
        return "unknown"

    # normalize combinations
    if found == {"annual"}:
        return "annual"
    if found == {"biennial"}:
        return "annual"
    if found == {"perennial"}:
        return "perennial"
    if found == {"annual", "biennial"}:
        return "annual"
    if found == {"annual", "perennial"}:
        return "annual/perennial"
    if found == {"biennial", "perennial"}:
        return "perennial"

    # rare but possible
    return "-".join(sorted(found))

In [7]:
df['duration_FNA'] = df["FNA"].apply(extract_life_duration)
df['duration_VPAP'] = df["VPAP"].apply(extract_life_duration)
df['duration_SWFG'] = df["SW Field Guide"].apply(extract_life_duration)

In [8]:
def consensus_life_duration(row):
    values = [
        row["duration_FNA"],
        row["duration_VPAP"],
        row["duration_SWFG"]
    ]
    values = [v for v in values if v != "unknown"]

    if not values:
        return "unknown"

    # if all agree
    if len(set(values)) == 1:
        return values[0]

    # otherwise keep ambiguity explicit
    return "/".join(sorted(set(values)))

In [9]:
df["duration_consensus"] = df.apply(consensus_life_duration, axis=1)

In [10]:
df.loc[df["duration_consensus"] == "annual/annual-biennial-perennial", "duration_consensus"] = "annual"
df.loc[df["duration_consensus"] == "annual-biennial-perennial/perennial", "duration_consensus"] = "perennial"
df.loc[df["duration_consensus"] == "annual-biennial-perennial", "duration_consensus"] = "annual"
df.loc[(df['Genus'] == 'Baileya') & (df['Species'] == 'multiradiata'), 'duration_consensus'] = "perennial"
df.loc[df["duration_consensus"] == "annual/perennial/perennial", "duration_consensus"] = "perennial"
df.loc[df["duration_consensus"] == "annual/annual/perennial", "duration_consensus"] = "annual"

In [11]:
df.loc[(df['Genus'] == 'Atriplex') & (df['Species'] == 'elegans'), 'duration_consensus'] = "annual"
df.loc[(df['Genus'] == 'Ambrosia') & (df['Species'] == 'confertiflora'), 'duration_consensus'] = "perennial"
df.loc[(df['Genus'] == 'Sonchus') & (df['Species'] == 'oleraceus'), 'duration_consensus'] = "annual"
df.loc[(df['Genus'] == 'Xanthisma') & (df['Species'] == 'spinulosum'), 'duration_consensus'] = "perennial"
df.loc[(df['Genus'] == 'Cryptantha') & (df['Species'] == 'holoptera'), 'duration_consensus'] = "perennial"
df.loc[(df['Genus'] == 'Cuscuta') & (df['Species'] == 'umbellata'), 'duration_consensus'] = "annual"
df.loc[(df['Genus'] == 'Chamaesyce') & (df['Species'] == 'pediculifera'), 'duration_consensus'] = "perennial"
df.loc[(df['Genus'] == 'Ditaxis') & (df['Species'] == 'neomexicana'), 'duration_consensus'] = "perennial"

In [12]:
lifespan = ['unknown', 'unknown', 'unknown', 'unknown', 'unknown', 
            'annual', 'perennial', 'unknown', 'annual', 'perennial', 'annual', 'unknown', 'unknown', 'perennial', 'unknown', 
            'unknown', 'unknown', 'annual', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'perennial', 
            'unknown', 'unknown', 'unknown', 'unknown', 'annual', 'unknown', 'annual', 'annual', 'unknown', 'unknown', 
            'unknown', 'annual', 'annual', 'unknown', 'unknown', 'unknown', 'unknown', 'perennial', 'unknown', 
            'unknown', 'unknown', 'unknown', 'annual', 'annual', 'unknown']

In [13]:
for i, j in zip(df[df["duration_consensus"] == 'annual/perennial'][['Genus', 'Species']].values, lifespan):
    df.loc[(df['Genus'] == i[0]) & (df['Species'] == i[1]), 'duration_consensus'] = j

In [14]:
lifespan2 = ['perennial', 'annual', 'perennial', 'annual', 'perennial', 'perennial', 'perennial', 'perennial', 'perennial', 'annual', 
             'perennial', 'perennial', 'annual', 'perennial', 'annual', 'perennial', 'annual', 'perennial', 'perennial', 'annual', 
             'perennial', 'annual', 'perennial', 'annual', 'perennial', 'annual', 'perennial', 'annual', 'perennial', 'perennial']

In [15]:
for i, j in zip(df[(df.duration_consensus == 'unknown') & (df.duration_SWFG == 'annual/perennial')][['Genus', 'Species']].values, lifespan2):
    df.loc[(df['Genus'] == i[0]) & (df['Species'] == i[1]), 'duration_consensus'] = j

In [16]:
lifespan3 = ['perennial', 'unknown',  'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 
             'perennial', 'perennial', 'unknown', 'unknown', 'unknown', 'perennial', 'annual', 'perennial', 'unknown', 'unknown', 
             'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 
             'perennial', 'perennial', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 
             'perennial', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 
             'unknown', 'unknown', 'unknown', 'unknown', 'perennial',  'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 
             'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 
             'unknown', 'annual', 'unknown', 'annual', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 
             'perennial', 'unknown', 'perennial', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 
             'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown']

In [17]:
for i, j in zip(df[df.duration_consensus == 'unknown'][['Genus', 'Species']].values, lifespan3):
    df.loc[(df['Genus'] == i[0]) & (df['Species'] == i[1]), 'duration_consensus'] = j

In [18]:
lifespan4 = ['unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'annual', 'unknown', 'unknown', 
             'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 
             'perennial', 'perennial', 'perennial', 'perennial', 'unknown', 'unknown', 'unknown', 'perennial', 'perennial', 'annual', 
             'unknown', 'unknown', 'unknown', 'unknown', 'perennial', 'perennial', 'perennial', 'perennial', 'perennial', 'perennial', 
             'unknown', 'annual', 'unknown', 'unknown', 'unknown', 'perennial', 'perennial', 'perennial', 'perennial', 'perennial', 
             'perennial', 'annual', 'unknown', 'annual', 'annual', 'annual', 'unknown', 'annual', 'perennial', 'perennial', 
             'unknown', 'unknown', 'unknown', 'annual', 'annual', 'annual', 'annual', 'perennial', 'unknown', 'unknown', 
             'unknown', 'unknown', 'perennial', 'perennial', 'perennial', 'perennial', 'perennial', 'perennial', 'perennial', 'annual', 
             'unknown', 'perennial']

In [19]:
for i, j in zip(df[df.duration_consensus == 'unknown'][['Genus', 'Species']].values, lifespan4):
    df.loc[(df['Genus'] == i[0]) & (df['Species'] == i[1]), 'duration_consensus'] = j

In [20]:
lifespan5 = ['perennial', 'annual', 'perennial', 'annual', 'annual', 'annual', 'perennial', 'annual', 'perennial', 'annual', 
             'unknown', 'perennial', 'annual', 'annual', 'annual', 'annual', 'perennial', 'annual', 'annual', 'perennial', 
             'perennial', 'annual', 'unknown', 'annual', 'annual', 'annual', 'perennial', 'annual', 'perennial', 'annual', 
             'perennial', 'perennial', 'perennial', 'annual', 'unknown', 'perennial', 'perennial', 'perennial', 'annual', 'annual']

In [21]:
for i, j in zip(df[df.duration_consensus == 'unknown'][['Genus', 'Species']].values, lifespan5):
    df.loc[(df['Genus'] == i[0]) & (df['Species'] == i[1]), 'duration_consensus'] = j

In [22]:
df = df[df.duration_consensus != 'unknown'].reset_index(drop=True)

In [23]:
df.duration_consensus.value_counts()

duration_consensus
perennial    579
annual       475
Name: count, dtype: int64

In [24]:
df.drop(columns = ['duration_FNA', 'duration_VPAP', 'duration_SWFG'], inplace = True)

# Native

In [25]:
NON_NATIVE_TERMS = [
    "non-native",
    "introduced",
    "invasive",
    "exotic",
    "naturalized", 
    "non native", 
    "not native"
]

def parse_nativity(sw_text):
    """
    Determine nativity from SW Field Guide text.

    Parameters
    ----------
    sw_text : str or None

    Returns
    -------
    str
        'native', 'non-native', or 'unknown'
    """

    if pd.isna(sw_text):
        return "unknown"

    text = sw_text.lower()

    # --- Explicit Nativity field ---
    nativity_match = re.search(
        r"nativity\s*:\s*([a-z\-]+)",
        text
    )
    
    if nativity_match:
        value = nativity_match.group(1)

        if value == "native":
            return "native"

        if value in NON_NATIVE_TERMS:
            return "non-native"

    # --- Fallback: search for non-native indicators anywhere ---
    for term in NON_NATIVE_TERMS:
        if re.search(rf"\b{term}\b", text):
            return "non-native"

    return "unknown"

In [26]:
NATIVITY_COLUMNS = ["FNA", "VPAP", "SW Field Guide"]

def nativity_consensus(row):
    results = []

    for col in NATIVITY_COLUMNS:
        value = parse_nativity(row[col])
        results.append(value)

    if "non-native" in results:
        return "non-native"

    if "native" in results:
        return "native"

    return "unknown"

In [27]:
df["nativity_sw"] = df.apply(nativity_consensus, axis=1)

In [28]:
df.loc[(df.Family == 'CACTACEAE') & (df.nativity_sw == 'unknown'), 'nativity_sw'] = 'native'

In [29]:
df.drop(df[(df.Genus == 'Festuca') & (df.Species == 'octoflora')].index, inplace = True)

In [30]:
df.loc[(df.Family == 'ASPARAGACEAE') & (df.nativity_sw == 'unknown'), 'nativity_sw'] = 'native'

In [31]:
df.loc[(df.Family == 'PTERIDACEAE') & (df.nativity_sw == 'unknown'), 'nativity_sw'] = 'native'

In [32]:
df.drop(df[df.Species == 'wootoni'].index, inplace=True)

In [33]:
df.drop(df[df['Species name'] == 'Cheilanthes yavapensis'].index, inplace = True)

In [34]:
df.loc[df['Species name'] == 'Hordeum arizonicum', 'nativity_sw'] = 'native'
df.loc[df['Species name'] == 'Hordeum murinum', 'nativity_sw'] = 'non-native'
df.loc[df['Species name'] == 'Rhus kearneyi', 'nativity_sw'] = 'native'
df.loc[df['Species name'] == 'Diaperia verna', 'nativity_sw'] = 'native'
df.loc[df['Species name'] == 'Isocoma coronopifolia', 'nativity_sw'] = 'native'
df.loc[df['Species name'] == 'Stephanomeria schottii', 'nativity_sw'] = 'native'
df.loc[df['Species name'] == 'Cryptantha ganderi', 'nativity_sw'] = 'native'

In [35]:
nativity = ['unknown', 'unknown', 'native', 'unknown', 'native', 'native', 'unknown', 'unknown', 'unknown', 'unknown', 
            'unknown', 'native', 'native', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'native', 'native', 
            'native', 'native', 'unknown', 'unknown', 'unknown', 'native', 'native', 'native', 'native', 'native', 
            'native', 'unknown', 'unknown', 'native', 'non-native', 'unknown', 'unknown', 'native', 'unknown', 'native', 
            'native', 'unknown', 'unknown', 'unknown', 'unknown', 'native', 'unknown', 'unknown', 'native', 'unknown', 
            'native', 'native', 'unknown', 'unknown', 'unknown', 'unknown', 'native', 'native', 'unknown', 'unknown', 
            'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'native', 'native', 'unknown']

In [36]:
for i, j in zip(df[df.nativity_sw == 'unknown'][['Genus', 'Species']].values, nativity):
    df.loc[(df['Genus'] == i[0]) & (df['Species'] == i[1]), 'nativity_sw'] = j

In [37]:
nativity2 = ['unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'native', 'native', 'native', 'unknown', 'unknown', 
             'unknown', 'native', 'native', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'native', 'native', 
             'native', 'unknown', 'unknown', 'unknown', 'native', 'unknown', 'unknown', 'unknown', 'unknown', 'native', 
             'unknown', 'non-native', 'unknown', 'native', 'native', 'unknown', 'unknown', 'unknown', 'native', 'unknown', 
             'unknown']

In [38]:
for i, j in zip(df[df.nativity_sw == 'unknown'][['Genus', 'Species']].values, nativity2):
    df.loc[(df['Genus'] == i[0]) & (df['Species'] == i[1]), 'nativity_sw'] = j

In [39]:
df.loc[df.nativity_sw == 'unknown', 'nativity_sw'] = 'native'

In [40]:
df.loc[df['Species name'] == 'Ricinus communis', 'nativity_sw'] = 'non-native'

In [41]:
df.loc[df['Species name'] == 'Urochloa reptans', 'nativity_sw'] = 'non-native'

In [42]:
df.loc[df['Species name'] == 'Melia azedarach', 'nativity_sw'] = 'non-native'

In [43]:
df["nativity_sw"].value_counts()

nativity_sw
native        887
non-native    164
Name: count, dtype: int64

# Aquatic

import requests
from bs4 import BeautifulSoup

url = "https://www.wildflower.org/collections/printable.php?collection=nwpl"

# Use realistic headers so the server doesn’t block you
headers = {
    "User-Agent": (
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
        "AppleWebKit/537.36 (KHTML, like Gecko) "
        "Chrome/120.0.0.0 Safari/537.36"
    ),
    "Referer": "https://www.wildflower.org/collections/"
}

response = requests.get(url, headers=headers, timeout=30)
response.raise_for_status()

soup = BeautifulSoup(response.text, "html.parser")

table = soup.find("table")

nwl_df = pd.read_html(str(table))[0]

nwl_df.drop(0, inplace = True)
headers = nwl_df.loc[1].values
nwl_df.drop(1, inplace = True)
nwl_df.columns = headers

nwl_df = nwl_df.map(lambda x: x.strip() if isinstance(x, str) else x)
nwl_df = nwl_df[~nwl_df['Scientific Name'].isna()].reset_index(drop=True)

nwl_df.to_csv('plant_lists/national_wetland_plant_list.csv')

In [44]:
nwl_df = pd.read_csv(r'plant_lists/national_wetland_plant_list.csv', index_col = 0)
nwl_df.shape

(2966, 6)

In [45]:
nwl_df.sample(5)

,Scientific Name,Common Name,Duration,Habit,Sun,Water
1483,Lobelia siphilitica,Great Blue Lobelia,Perennial,Herb,"Sun, Shade, Part-shade","Wet, Moist"
2616,Stellaria crassifolia,Fleshy Starwort,Perennial,Herb,NaN,NaN
76,Allium tricoccum,"Wild Leek, Ramp",Perennial,Herb,Shade,Moist
2249,Rubus pedatus,Strawberryleaf Raspberry,Perennial,Subshrub,"Sun, Shade, Part-shade","Moist, Dry"
1582,Meehania cordata,Meehan's Mint,Perennial,Herb,NaN,NaN

In [46]:
nwl_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2966 entries, 0 to 2965
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Scientific Name  2966 non-null   object
 1   Common Name      2966 non-null   object
 2   Duration         2965 non-null   object
 3   Habit            2965 non-null   object
 4   Sun              1701 non-null   object
 5   Water            1415 non-null   object
dtypes: object(6)
memory usage: 162.2+ KB

In [47]:
df = df.merge(nwl_df[['Scientific Name', 'Habit']], left_on = 'Species name', right_on = 'Scientific Name', how = 'left')

In [48]:
df['aquatic'] = df["Scientific Name"].notna().astype(int)
df.drop(columns = ['Scientific Name', 'Habit'], inplace = True)

In [49]:
df.loc[df.Genus == 'Populus', 'aquatic'] = 1
df.loc[df.Genus == 'Prosopis', 'aquatic'] = 0
df.loc[df.Genus == 'Dichelostemma', 'aquatic'] = 0
df.loc[df.Genus == 'Lycium', 'aquatic'] = 0
df.loc[df.Genus == 'Agave', 'aquatic'] = 0
df.loc[df.Genus == 'Tamarix', 'aquatic'] = 1
df.loc[df['Species name'] == 'Celtis reticulata', 'aquatic'] = 1
df.loc[df.Family == 'CYPERACEAE', 'aquatic'] = 1
df.loc[df.Genus == 'Najas', 'aquatic'] = 1
df.loc[df.Genus == 'Nasturtium', 'aquatic'] = 1

In [50]:
df.aquatic.value_counts()

aquatic
0    923
1    128
Name: count, dtype: int64

In [51]:
df.columns

Index(['Genus', 'Species', 'FNA', 'VPAP', 'SW Field Guide', 'Species name',
       'Family', 'duration_consensus', 'nativity_sw', 'aquatic'],
      dtype='object')

# Lifeform

In [52]:
LIFEFORMS = {"grass", "herb", "subshrub", "shrub", "tree", "vine", "cactus", "succulent", "bryophyte", "pterophyte"}

In [53]:
FAMILY_LIFEFORMS = {
    # Grasses
    "Poaceae": "grass",
    "Cyperaceae": "grass",
    "Juncaceae": "grass",

    # Succulents
    "Crassulaceae": "succulent",
    "Agavaceae": "succulent",

    # Cactus
    "Cactaceae": "cactus",

    # Bryophytes
    "Bryaceae": "bryophyte",
    "Sphagnaceae": "bryophyte",

    # Ferns
    "Pteridaceae": "pterophyte",
    "Dryopteridaceae": "pterophyte",
    "Polypodiaceae": "pterophyte"
}

In [54]:
def normalize_family(family):
    if pd.isna(family):
        return None

    family = family.strip()
    family = re.split(r"[ (;]", family)[0]  # remove annotations
    family = family.capitalize()

    return family

In [55]:
def lifeform_from_family(family):
    family = normalize_family(family)
    return FAMILY_LIFEFORMS.get(family)

In [56]:
LIFEFORM_KEYWORDS = {
    "tree": [" tree", " trees"],
    "shrub": [" shrub", " shrubs"],
    "subshrub": [" subshrub"],
    "herb": [" herb", " herbs", " forb", " forbs", " woody herb"],
    "grass": [" grass", " grasses"],
    "vine": [" vine", " climbing", " twining", " liana"],
    "cactus": [" cactus", " cacti"],
    "succulent": [" succulent", " fleshy"],
    "bryophyte": [" moss", " liverwort"],
    "pterophyte": [" fern", " ferns", " frond"]
}

In [57]:
def extract_lifeforms_from_text(text):
    if pd.isna(text):
        return set()

    text = text.lower()
    found = set()

    for lf, patterns in LIFEFORM_KEYWORDS.items():
        if any(p in text for p in patterns):
            found.add(lf)

    return found

In [58]:
def resolve_lifeform_conflicts(lifeforms):
    lf = set(lifeforms)

    if "tree" in lf and "shrub" in lf:
        return "tree"

    if "cactus" in lf and "succulent" in lf:
        return "cactus"

    if "herb" in lf and "woody herb" in lf:
        return "herb"

    if "vine" in lf and "shrub" in lf:
        return "vine"

    if len(lf) == 1:
        return next(iter(lf))

    if len(lf) > 1:
        # fallback priority
        priority = [
            "tree", "shrub", "subshrub", "vine",
            "grass", "herb", "succulent",
            "cactus", "pterophyte", "bryophyte"
        ]
        for p in priority:
            if p in lf:
                return p

    return None

In [59]:
def lifeform_from_text_sources(row):
    combined = " ".join([
        str(row.get("FNA", "")),
        str(row.get("VPAP", "")),
        str(row.get("SW Field Guide", ""))
    ])

    lifeforms = extract_lifeforms_from_text(combined)
    return resolve_lifeform_conflicts(lifeforms)

In [60]:
def determine_lifeform(row):
    # 1️⃣ Family override (final answer)
    family_lf = lifeform_from_family(row["Family"])
    if family_lf is not None:
        return family_lf

    # 2️⃣ Text-based inference
    return lifeform_from_text_sources(row)

In [61]:
df["lifeform"] = df.apply(determine_lifeform, axis=1)

In [62]:
df.loc[(df.lifeform == 'grass') & (df.Family == 'BRASSICACEAE'), 'lifeform'] = 'herb'

In [63]:
brassica = ['herb', 'herb', 'subshrub', 'herb', 'herb', 'herb']
for i,j in zip(df[(df.Family == 'BRASSICACEAE') & (df.lifeform == 'shrub')]['Species name'], brassica):
    df.loc[df['Species name'] == i, 'lifeform'] = j

In [64]:
df.drop(df[df['Species name'] == 'Arabis perennans'].index, inplace = True)
df.loc[(df.Family == 'BRASSICACEAE') & (df.lifeform == 'vine'), 'lifeform'] = 'herb'
df.loc[(df.Family == 'BRASSICACEAE') & (df.lifeform == 'succulent'), 'lifeform'] = 'herb'
df.loc[df['Species name'] == 'Cannabis sativa', 'lifeform'] = 'herb'
df.loc[(df.duration_consensus == 'annual') & (df.lifeform == 'grass') & (df.Family == 'ASTERACEAE'), 'lifeform'] = 'herb'
df.loc[(df.duration_consensus == 'annual') & (df.lifeform == 'grass') & (~df.Family.isin(['POACEAE', 'CYPERACEAE', 'JUNCACEAE'])), 'lifeform'] = 'herb'
df.loc[(df.duration_consensus == 'annual') & (df.lifeform == 'tree'), 'lifeform'] = 'herb'
df.loc[(df.duration_consensus == 'annual') & (df.lifeform == 'shrub'), 'lifeform'] = 'herb'

In [65]:
ann_subshrub = ['herb', 'herb', 'herb', 'herb', 'subshrub', 'herb', 'subshrub', 'herb', 'herb', 'subshrub', 'subshrub', 'herb']
for i,j in zip(df.loc[(df.duration_consensus == 'annual') & (df.lifeform == 'subshrub'), 'Species name'], ann_subshrub):
    df.loc[df['Species name'] == i, 'lifeform'] = j

In [66]:
df.drop(df[df['Species name'] == 'Ipomoea hederacea'].index, inplace = True)
df.loc[df.Genus == 'Agave', 'lifeform'] = 'succulent'
df.loc[df.Family == 'SELAGINELLACEAE', 'lifeform'] = 'pterophyte'
df.loc[df.Genus == 'Yucca', 'lifeform'] = 'succulent'
df.loc[(df.lifeform == 'grass') & (~df.Family.isin(['POACEAE', 'CYPERACEAE', 'JUNCACEAE'])), 'lifeform'] = 'herb'

In [67]:
shrubs = ['subshrub', 'shrub',  'shrub', 'shrub', 'shrub', 'shrub', 'subshrub', 'subshrub', 'subshrub', 'subshrub', 
          'subshrub', 'subshrub', 'subshrub', 'subshrub', 'subshrub', 'shrub', 'shrub', 'subshrub', 'subshrub', 'subshrub', 
          'subshrub', 'subshrub', 'shrub', 'subshrub', 'subshrub', 'subshrub', 'shrub', 'subshrub', 'subshrub', 'subshrub', 
          'subshrub', 'subshrub', 'subshrub', 'subshrub', 'shrub', 'shrub', 'shrub', 'shrub', 'herb', 'shrub', 
          'shrub', 'subshrub', 'subshrub', 'subshrub', 'shrub', 'subshrub', 'shrub', 'shrub', 'subshrub', 'subshrub', 
          'subshrub', 'subshrub', 'subshrub', 'subshrub', 'herb', 'subshrub', 'subshrub', 'subshrub', 'shrub', 'shrub', 
          'subshrub', 'subshrub', 'shrub', 'shrub', 'shrub', 'shrub', 'subshrub', 'shrub', 'shrub', 'shrub', 
          'shrub', 'shrub', 'shrub', 'shrub', 'shrub', 'subshrub', 'herb', 'shrub', 'subshrub', 'subshrub', 
          'subshrub', 'subshrub', 'subshrub', 'shrub', 'subshrub', 'shrub', 'shrub', 'shrub', 'shrub', 'subshrub', 
          'subshrub', 'subshrub', 'herb', 'subshrub', 'subshrub', 'herb', 'shrub', 'shrub', 'shrub', 'shrub', 
          'shrub', 'herb', 'shrub', 'subshrub', 'subshrub', 'subshrub', 'subshrub', 'shrub', 'herb', 'shrub', 
          'subshrub', 'subshrub', 'herb', 'succulent', 'subshrub', 'subshrub', 'subshrub', 'herb', 'shrub', 'shrub', 
          'subshrub', 'shrub', 'subshrub', 'shrub', 'shrub', 'subshrub', 'subshrub', 'shrub', 'herb', 'shrub']
shrub_species = df[df.lifeform == 'shrub']['Species name']

In [68]:
for i, j in zip(shrub_species, shrubs):
    df.loc[df['Species name'] == i, 'lifeform'] = j

In [69]:
subshrubs = ['subshrub', 'subshrub', 'subshrub', 'subshrub', 'subshrub', 'subshrub', 'subshrub', 'subshrub', 'subshrub', 'subshrub',
             'subshrub', 'subshrub', 'subshrub', 'herb', 'subshrub', 'herb', 'herb', 'subshrub', 'subshrub', 'subshrub', 
             'subshrub', 'herb', 'herb', 'herb', 'subshrub', 'subshrub', 'herb', 'herb', 'herb', 'subshrub', 
             'subshrub', 'shrub', 'herb', 'subshrub', 'subshrub', 'subshrub', 'herb', 'subshrub', 'herb', 'herb', 
             'herb', 'herb', 'subshrub', 'herb', 'herb', 'herb', 'subshrub', 'herb', 'herb', 'herb', 
             'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'subshrub', 'herb','herb', 
             'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'subshrub', 'herb', 'subshrub', 
             'subshrub']

In [70]:
for i, j in zip(df.loc[(~df['Species name'].isin(shrub_species)) & (df.lifeform == 'subshrub')]['Species name'], subshrubs):
    df.loc[(df['Species name'] == i), 'lifeform'] = j

In [71]:
df.loc[df['Species name'] == 'Cylindropuntia spinosior', 'nativity_sw'] = 'native'

In [72]:
df.loc[df.Genus == 'Nolina', 'lifeform'] = 'succulent'

In [73]:
df.drop(df[df['Species name'] == 'Acacia greggii'].index, inplace = True)

In [74]:
df.reset_index(drop = True, inplace = True)

In [75]:
trees = ['shrub', 'shrub', 'tree', 'tree', 'tree', 'tree', 'tree', 'tree', 'tree', 'tree', 
         'tree', 'tree', 'tree', 'shrub', 'tree', 'shrub', 'shrub', 'parasite', 'tree', 'shrub', 
         'shrub', 'shrub', 'shrub', 'shrub', 'tree', 'tree', 'tree', 'tree', 'tree', 'shrub', 
         'shrub', 'herb', 'shrub', 'tree', 'tree', 'tree', 'shrub', 'shrub', 'tree', 'tree', 
         'shrub', 'tree', 'shrub', 'tree', 'tree', 'tree', 'tree', 'tree', 'tree', 'tree', 
         'tree', 'herb', 'tree', 'shrub', 'tree', 'tree', 'shrub', 'shrub', 'tree', 'tree', 
         'tree', 'tree', 'tree', 'herb', 'shrub', 'shrub', 'tree', 'shrub', 'tree']

In [76]:
for i, j in zip(df[df.lifeform == 'tree']['Species name'], trees):
    df.loc[df['Species name'] == i, 'lifeform'] = j

In [77]:
df.drop(df[df['Species name'] == 'Tessaria sericea'].index, inplace = True)

In [78]:
vines = ['vine', 'vine', 'vine', 'vine', 'vine', 'vine', 'vine', 'vine', 'vine', 'vine', 
         'vine', 'vine', 'vine', 'vine', 'vine', 'herb', 'vine', 'vine', 'vine', 'herb', 
         'vine', 'vine', 'vine', 'vine', 'vine', 'vine', 'vine', 'vine', 'vine', 'vine',
         'vine', 'vine', 'vine', 'vine', 'vine', 'herb', 'vine', 'vine', 'vine', 'vine',
         'vine', 'vine', 'vine', 'vine', 'vine', 'vine', 'vine', 'vine']

In [79]:
for i, j in zip(df[df.lifeform == 'vine']['Species name'], vines):
    df.loc[df['Species name'] == i, 'lifeform'] = j

In [80]:
df.drop(df[df['Species name'] == 'Janusia gracilis'].index, inplace = True)
df.drop(df[df['Species name'] == 'Matelea cordifolia'].index, inplace = True)

In [81]:
unknowns = ['herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'subshrub', 'herb', 
            'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'shrub', 'herb', 'herb', 
            'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'vine', 'herb', 'herb', 'tree', 
            'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 'herb', 
            'shrub', 'tree', 'grass', 'herb']

In [82]:
for i, j in zip(df[df.lifeform.isna()]['Species name'], unknowns):
    df.loc[df['Species name'] == i, 'lifeform'] = j

In [83]:
df.drop(df[df['Species name'] == 'Lappula redowskii'].index, inplace = True)
df.drop(df[df['Species name'] == 'Larrea divaricata'].index, inplace = True)
df.drop(df[df['Species name'] == 'Sibara virginica'].index, inplace = True)
df.drop(df[df['Species name'] == 'Camissonia claviformis'].index, inplace = True)
df.drop(df[df['Species name'] == 'Lotus humistratus'].index, inplace = True)
df.drop(df[df['Species name'] == 'Sapindus drummondii'].index, inplace = True)
df.drop(df[df['Species name'] == 'Chenopodium ambrosioides'].index, inplace = True)

In [84]:
df.reset_index(drop = True, inplace = True)

In [85]:
df['lifeform'].value_counts()

lifeform
herb          542
grass         160
subshrub       99
shrub          76
vine           44
tree           43
cactus         37
pterophyte     23
succulent      13
parasite        1
Name: count, dtype: int64

# Elevation

In [86]:
def extract_elevation_ranges(text):
    """
    Extract elevation ranges from SW Field Guide text.

    Returns:
        pd.Series with:
        elev_ft_low, elev_ft_high, elev_m_low, elev_m_high
    """

    if pd.isna(text):
        return pd.Series([np.nan, np.nan, np.nan, np.nan])

    text = text.lower()

    # Pattern for ranges like: 2,500-4,000 ft (762-1219 m)
    range_pattern = re.search(
        r'(\d{1,3}(?:,\d{3})*)\s*-\s*(\d{1,3}(?:,\d{3})*)\s*ft\s*\(\s*(\d+)\s*-\s*(\d+)\s*m\s*\)',
        text
    )

    if range_pattern:
        ft_low, ft_high, m_low, m_high = range_pattern.groups()
        return pd.Series([
            int(ft_low.replace(',', '')),
            int(ft_high.replace(',', '')),
            int(m_low),
            int(m_high)
        ])

    # Pattern for "below X ft (Y m)"
    below_pattern = re.search(
        r'below\s*(\d{1,3}(?:,\d{3})*)\s*ft\s*\(\s*(\d+)\s*m\s*\)',
        text
    )

    if below_pattern:
        ft_high, m_high = below_pattern.groups()
        return pd.Series([
            0,
            int(ft_high.replace(',', '')),
            0,
            int(m_high)
        ])

    # If nothing matched
    return pd.Series([np.nan, np.nan, np.nan, np.nan])

In [87]:
df[['elev_ft_low', 'elev_ft_high', 'elev_m_low', 'elev_m_high']] = (df['SW Field Guide'].apply(extract_elevation_ranges))

In [88]:
def extract_fna_elevation_simple(text):
    """
    Extract elevation range in meters from FNA text.
    Handles:
      0-100 m
      500--2000 m
    """

    if pd.isna(text):
        return pd.Series([np.nan, np.nan])

    match = re.search(
        r';\s*(\d+)\s*-{1,2}\s*(\d+)\s*m\s*;',
        text
    )

    if match:
        low, high = match.groups()
        return pd.Series([int(low), int(high)])

    return pd.Series([np.nan, np.nan])

In [89]:
df[['fnaelev_m_low', 'fnaelev_m_high']] = (df['FNA'].apply(extract_fna_elevation_simple))

In [90]:
def extract_vpap_elevation(text):
    """
    Extract elevation range (meters) from VPAP descriptions.
    Avoids plant size measurements.
    """

    if pd.isna(text):
        return pd.Series([np.nan, np.nan])

    # Match elevation ranges in meters, allowing:
    #  - single or double dash
    #  - optional parenthetical extremes
    #  - optional feet after
    match = re.search(
        r'(\d+)\s*-{1,2}\s*(\d+)\s*(?:\([^)]*\))?\s*m\b',
        text
    )

    if match:
        low, high = match.groups()
        return pd.Series([int(low), int(high)])

    return pd.Series([np.nan, np.nan])

In [91]:
df[['vpap_elev_m_low', 'vpap_elev_m_high']] = (df['VPAP'].apply(extract_vpap_elevation))

In [92]:
df['low_elev_m'] = df[['elev_m_low', 'elev_m_high', 'fnaelev_m_low', 'fnaelev_m_high', 'vpap_elev_m_low', 'vpap_elev_m_high']].min(axis=1)
df['high_elev_m'] = df[['elev_m_low', 'elev_m_high', 'fnaelev_m_low', 'fnaelev_m_high', 'vpap_elev_m_low', 'vpap_elev_m_high']].max(axis=1)

In [93]:
df.drop(columns = ['elev_ft_low', 'elev_ft_high', 'elev_m_low', 'elev_m_high', 
                   'fnaelev_m_low', 'fnaelev_m_high', 'vpap_elev_m_low', 
                   'vpap_elev_m_high'], inplace = True)

In [94]:
df.loc[df['Species name'] == 'Parkinsonia florida', 'low_elev_m'] = 0
df.loc[df['Species name'] == 'Parkinsonia florida', 'high_elev_m'] = 1220

In [95]:
df.loc[df['Species name'] == 'Bromus berteroanus', 'low_elev_m'] = 0
df.loc[df['Species name'] == 'Bromus berteroanus', 'high_elev_m'] = 914

In [96]:
low_elev_m = [np.nan, 305, 0, np.nan, np.nan, np.nan, np.nan, 450, 0, 0, 
              0, np.nan, np.nan, 305, np.nan, 0, np.nan, np.nan, np.nan, 0, 
              0, 0, np.nan, np.nan, np.nan, 0, 0, 0, np.nan, 0, 
              0, 0, 0, 305, np.nan, np.nan, 305, 0, np.nan, 0, 
              0, np.nan, np.nan, 0, 0, 0, np.nan, 0, 0, np.nan, 
              np.nan, 0, np.nan, 305, 650, 0, 0, 0, 0, 0, 
              0, 0, np.nan, 0, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
              np.nan, np.nan, np.nan, np.nan, np.nan, 0, np.nan, np.nan, 0, 
              np.nan, np.nan, np.nan, np.nan, 0, 0, np.nan, 1700, np.nan, 
              0, 500, 0, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 0, 
              2600, np.nan, np.nan, np.nan, np.nan, np.nan, 0, np.nan, np.nan, np.nan, 
              np.nan, np.nan, 1700, 0, np.nan, 0, np.nan, np.nan, 0, 1067, 
              0, np.nan, np.nan, 1200, np.nan, 0, 0, np.nan, np.nan, np.nan, 
              np.nan, 0, 0, np.nan, np.nan, np.nan, np.nan, np.nan]

In [97]:
high_elev_m = [np.nan, 1524, 1219, np.nan, np.nan, np.nan, np.nan, 2100, 1524, 1067, 
               1600, np.nan, np.nan, 1067, np.nan, 5000, np.nan, np.nan, np.nan, 5000, 
               3000, 762, np.nan, np.nan, np.nan, 1067, 2000, 300, np.nan, 762, 
               547, 3050, 1000, 1829, np.nan, np.nan, 1524, 2134, np.nan, 1524, 
               1524, np.nan, np.nan, 610, 457, 198, np.nan, 1219, 1219, np.nan, 
               np.nan, 106, np.nan, 1219, 2450, 914, 2000, 1300, 1200, 1250, 
               762, 1000, np.nan, 1524, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
               np.nan, np.nan, np.nan, np.nan, np.nan, 106, np.nan, np.nan, 2000, 
               np.nan, np.nan, np.nan, np.nan, 2000, 1067, np.nan, 2000, np.nan, 
               2000, 2000, 2000, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 2000, 
               3400, np.nan, np.nan, np.nan, np.nan, np.nan, 2000, np.nan, np.nan, np.nan, 
               np.nan, np.nan, 3000, 1372, np.nan, 2000, np.nan, np.nan, 1219, 2591, 
               0, np.nan, np.nan, 2134, np.nan, 2000, 2000, np.nan, np.nan, np.nan, 
               np.nan, 2000, 2000, np.nan, np.nan, np.nan, np.nan, np.nan]

In [98]:
for i, j, k in zip(df[df.low_elev_m.isna()]['Species name'], low_elev_m, high_elev_m):
    df.loc[df['Species name'] == i, 'low_elev_m'] = j
    df.loc[df['Species name'] == i, 'high_elev_m'] = k

In [99]:
low = [np.nan, np.nan, 0, 0, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
       np.nan, np.nan, np.nan, np.nan, np.nan, 0, np.nan, np.nan, 0, np.nan, 
       np.nan, np.nan, np.nan, 500, 0, np.nan, np.nan, 0, np.nan, np.nan, 
       np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
       np.nan, np.nan, np.nan, np.nan, 200, np.nan, np.nan, np.nan, np.nan, np.nan, 
       np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 0, 1400, np.nan, 
       np.nan, np.nan, np.nan, 1000, 0, 0, np.nan, 0, np.nan, np.nan, 
       np.nan, 0, 0, np.nan, np.nan, np.nan, np.nan]

In [100]:
high = [np.nan, np.nan, 1800, 1800, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
        np.nan, np.nan, np.nan, np.nan, np.nan, 2000, np.nan, np.nan, 1000, np.nan, 
        np.nan, np.nan, np.nan, 1500, 1800, np.nan, np.nan, 2000, np.nan, np.nan, 
        np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
        np.nan, np.nan, np.nan, np.nan, 1000, np.nan, np.nan, np.nan, np.nan, np.nan, 
        np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 900, 2000, np.nan, 
        np.nan, np.nan, np.nan, 1800, 2000, 2000, np.nan, 2000, np.nan, np.nan, 
        np.nan, 2000, 2000, np.nan, np.nan, np.nan, np.nan]

In [101]:
for i, j, k in zip(df[df.low_elev_m.isna()]['Species name'], low, high):
    df.loc[df['Species name'] == i, 'low_elev_m'] = j
    df.loc[df['Species name'] == i, 'high_elev_m'] = k

In [103]:
df.loc[df['Species name'] == 'Petalonyx thurberi', 'low_elev_m'] = 0
df.loc[df['Species name'] == 'Petalonyx thurberi', 'high_elev_m'] = 1500
df.loc[df['Species name'] == 'Petalonyx linearis', 'low_elev_m'] = 0
df.loc[df['Species name'] == 'Petalonyx linearis', 'high_elev_m'] = 1000

# Checking for duplicates

In [121]:
dups = df[df['FNA'].notna() & df['FNA'].duplicated(keep=False)]

In [123]:
dups.sort_values('FNA')

,Genus,Species,FNA,VPAP,SW Field Guide,Species name,Family,duration_consensus,nativity_sw,aquatic,lifeform,low_elev_m,high_elev_m
958,Plumbago,scandens,Alan R. Smith in Flora of North America (vol. ...,NaN,"Kearney and Peebles 1969, Shreve and Wiggins 1...",Plumbago scandens,PLUMBAGINACEAE,perennial,non-native,0,vine,0.0,1219.0
730,Plumbago,zeylanica,Alan R. Smith in Flora of North America (vol. ...,NaN,"Kearney and Peebles 1969, Shreve and Wiggins 1...",Plumbago zeylanica,PLUMBAGINACEAE,perennial,non-native,0,vine,0.0,1219.0
749,Muhlenbergia,alopecuroides,Charlotte G. Reeder. Flora of North America Pl...,NaN,"Peterson et al. 2010, FNA 2007, Gould 1980 Com...",Muhlenbergia alopecuroides,POACEAE,perennial,native,0,grass,610.0,3048.0
977,Lycurus,setosus,Charlotte G. Reeder. Flora of North America Pl...,NaN,"Peterson et al. 2010, FNA 2007, Gould 1980 Com...",Lycurus setosus,POACEAE,perennial,native,0,grass,610.0,3048.0
605,Dieteria,asteroides,David R. Morgan in Flora of North America (vol...,NaN,"FNA 2006, Kearney and Peebles 1969, McDougall ...",Dieteria asteroides,ASTERACEAE,perennial,native,0,herb,0.0,2438.0
876,Machaeranthera,asteroides,David R. Morgan in Flora of North America (vol...,NaN,"FNA 2006, Kearney and Peebles 1969, McDougall ...",Machaeranthera asteroides,ASTERACEAE,perennial,native,0,herb,0.0,2438.0
1020,Opuntia,fulgida,Donald J. Pinkava in Flora of North America (v...,"JANAS 32(1) Plant : Tree 1-3 m tall, the trunk...","Benson 1982, Pinkava 1999 Common Name : jumpin...",Opuntia fulgida,CACTACEAE,perennial,native,0,cactus,1.0,1219.0
165,Cylindropuntia,fulgida,Donald J. Pinkava in Flora of North America (v...,"JANAS 32(1) Plant : Tree 1-3 m tall, the trunk...","Benson 1982, Pinkava 1999 Common Name : jumpin...",Cylindropuntia fulgida,CACTACEAE,perennial,native,0,cactus,1.0,1219.0
631,Matthiola,longipetala,Ihsan A. Al-Shehbaz in Flora of North America ...,NaN,FNA 2010 Duration : Annual Nativity : Non-Nati...,Matthiola longipetala,BRASSICACEAE,annual,non-native,0,herb,610.0,1372.0
895,Matthiola,bicornis,Ihsan A. Al-Shehbaz in Flora of North America ...,NaN,FNA 2010 Duration : Annual Nativity : Non-Nati...,Matthiola bicornis,BRASSICACEAE,annual,non-native,0,herb,610.0,1372.0
478,Pennisetum,setaceum,J.K. Wipff. Flora of North America Plants pere...,NaN,FNA 2003 Common Name : crimson fountaingrass D...,Pennisetum setaceum,POACEAE,perennial,non-native,0,grass,0.0,1000.0
331,Cenchrus,setaceus,J.K. Wipff. Flora of North America Plants pere...,NaN,FNA 2003 Common Name : crimson fountaingrass D...,Cenchrus setaceus,POACEAE,perennial,non-native,0,grass,0.0,1000.0
354,Pennisetum,ciliare,J.K. Wipff. Flora of North America Plants pere...,NaN,"FNA 2003, Gould 1980 Common Name : buffelgrass...",Pennisetum ciliare,POACEAE,perennial,non-native,0,grass,0.0,914.0
330,Cenchrus,ciliaris,J.K. Wipff. Flora of North America Plants pere...,NaN,"FNA 2003, Gould 1980 Common Name : buffelgrass...",Cenchrus ciliaris,POACEAE,perennial,non-native,0,grass,0.0,914.0
507,Filago,californica,James D. Morefield in Flora of North America (...,NaN,"FNA 2006, Jepson 2012, Kearney and Peebles 196...",Filago californica,ASTERACEAE,annual,native,0,herb,0.0,1800.0
80,Logfia,filaginoides,James D. Morefield in Flora of North America (...,NaN,"FNA 2006, Jepson 2012, Kearney and Peebles 196...",Logfia filaginoides,ASTERACEAE,annual,native,0,herb,0.0,1800.0
78,Logfia,californica,James D. Morefield in Flora of North America (...,NaN,"FNA 2006, Jepson 2012, Kearney and Peebles 196...",Logfia californica,ASTERACEAE,annual,native,0,herb,0.0,1800.0
79,Logfia,depressa,James D. Morefield in Flora of North America (...,NaN,"FNA 2006, Jepson 2012, Kearney and Peebles 196...",Logfia depressa,ASTERACEAE,annual,native,0,herb,0.0,1500.0
865,Filago,depressa,James D. Morefield in Flora of North America (...,NaN,"FNA 2006, Jepson 2012, Kearney and Peebles 196...",Filago depressa,ASTERACEAE,annual,native,0,herb,0.0,1500.0
506,Filago,arizonica,James D. Morefield in Flora of North America (...,NaN,"FNA 2006, Wiggins 1964, Kearney and Peebles 19...",Filago arizonica,ASTERACEAE,annual,native,0,herb,305.0,762.0
77,Logfia,arizonica,James D. Morefield in Flora of North America (...,NaN,"FNA 2006, Wiggins 1964, Kearney and Peebles 19...",Logfia arizonica,ASTERACEAE,annual,native,0,herb,305.0,762.0
58,Conyza,canadensis,John L. Strother in Flora of North America (vo...,NaN,"FNA 2006, Wiggins 1964, Kearney and Peebles 19...",Conyza canadensis,ASTERACEAE,annual,non-native,0,herb,0.0,2440.0
62,Erigeron,canadensis,John L. Strother in Flora of North America (vo...,NaN,"FNA 2006, Wiggins 1964, Kearney and Peebles 19...",Erigeron canadensis,ASTERACEAE,annual,non-native,0,herb,0.0,2440.0
870,Hedosyne,ambrosiifolia,John L. Strother in Flora of North America (vo...,NaN,"FNA 2006, Martin and Hutchins 1980, Kearney an...",Hedosyne ambrosiifolia,ASTERACEAE,annual,native,0,herb,914.0,2000.0
875,Iva,ambrosiaefolia,John L. Strother in Flora of North America (vo...,NaN,"FNA 2006, Martin and Hutchins 1980, Kearney an...",Iva ambrosiaefolia,ASTERACEAE,annual,native,0,herb,914.0,2000.0
970,Enneapogon,mollis,John R. Reeder. Flora of North America Plants ...,NaN,FNA 2003 Common Name : soft feather pappusgras...,Enneapogon mollis,POACEAE,annual,non-native,0,grass,0.0,2000.0
741,Enneapogon,cenchroides,John R. Reeder. Flora of North America Plants ...,NaN,FNA 2003 Common Name : soft feather pappusgras...,Enneapogon cenchroides,POACEAE,annual,non-native,0,grass,200.0,1000.0
973,Hilaria,mutica,Mary E. Barkworth. Flora of North America Plan...,NaN,"FNA 2003, Gould 1980 Common Name : tobosagrass...",Hilaria mutica,POACEAE,perennial,native,0,grass,610.0,1829.0
982,Pleuraphis,mutica,Mary E. Barkworth. Flora of North America Plan...,NaN,"FNA 2003, Gould 1980 Common Name : tobosagrass...",Pleuraphis mutica,POACEAE,perennial,native,0,grass,610.0,1829.0
346,Hilaria,rigida,Mary E. Barkworth. Flora of North America Plan...,NaN,"FNA 2003, Gould 1980, McDougall 1973 Common Na...",Hilaria rigida,POACEAE,perennial,native,0,grass,0.0,1219.0
479,Pleuraphis,rigida,Mary E. Barkworth. Flora of North America Plan...,NaN,"FNA 2003, Gould 1980, McDougall 1973 Common Na...",Pleuraphis rigida,POACEAE,perennial,native,0,grass,0.0,1219.0
976,Leptochloa,crinita,Mary E. Barkworth. Flora of North America Plan...,NaN,"FNA 2003, Gould 1980 Common Name : False Rhode...",Leptochloa crinita,POACEAE,perennial,native,0,grass,0.0,1219.0
766,Trichloris,crinita,Mary E. Barkworth. Flora of North America Plan...,NaN,"FNA 2003, Gould 1980 Common Name : False Rhode...",Trichloris crinita,POACEAE,perennial,native,1,grass,0.0,1219.0
998,Myriopteris,lindheimeri,Michael D. Windham Eric W. Rabe in Flora of No...,NaN,"FNA 1993, Yarborough and Powell 2002 Common Na...",Myriopteris lindheimeri,PTERIDACEAE,perennial,native,0,pterophyte,200.0,2591.0
777,Cheilanthes,lindheimeri,Michael D. Windham Eric W. Rabe in Flora of No...,NaN,"FNA 1993, Yarborough and Powell 2002 Common Na...",Cheilanthes lindheimeri,PTERIDACEAE,perennial,native,0,pterophyte,200.0,2591.0
996,Cheilanthes,pringlei,Michael D. Windham Eric W. Rabe in Flora of No...,NaN,"FNA 1993, Kearney and Peebles 1969 Common Name...",Cheilanthes pringlei,PTERIDACEAE,perennial,native,0,pterophyte,700.0,1524.0
999,Myriopteris,pringlei,Michael D. Windham Eric W. Rabe in Flora of No...,NaN,"FNA 1993, Kearney and Peebles 1969 Common Name...",Myriopteris pringlei,PTERIDACEAE,perennial,native,0,pterophyte,700.0,1524.0
968,Diplachne,fusca,Neil Snow. Flora of North America Plants annua...,NaN,"FNA 2003, Gould 1980 Common Name : Malabar spr...",Diplachne fusca,POACEAE,annual,native,0,grass,0.0,1524.0
747,Leptochloa,fusca,Neil Snow. Flora of North America Plants annua...,NaN,"FNA 2003, Gould 1980 Common Name : Malabar spr...",Leptochloa fusca,POACEAE,annual,native,0,grass,0.0,1524.0
348,Leptochloa,panicea,Neil Snow. Flora of North America Plants annua...,NaN,"FNA 2003, Gould 1980 Common Name : mucronate s...",Leptochloa panicea,POACEAE,annual,native,0,grass,305.0,1524.0
967,Dinebra,panicea,Neil Snow. Flora of North America Plants annua...,NaN,"FNA 2003, Gould 1980 Common Name : mucronate s...",Dinebra panicea,POACEAE,annual,native,0,grass,305.0,1524.0
746,Leptochloa,dubia,Neil Snow. Flora of North America Plants peren...,NaN,"FNA 2003, Gould 1980 Common Name : green spran...",Leptochloa dubia,POACEAE,perennial,native,0,grass,762.0,1829.0
969,Disakisperma,dubium,Neil Snow. Flora of North America Plants peren...,NaN,"FNA 2003, Gould 1980 Common Name : green spran...",Disakisperma dubium,POACEAE,perennial,native,0,grass,762.0,1829.0
469,Boerhavia,scandens,Richard W. Spellenberg in Flora of North Ameri...,NaN,"Wiggins 1964, FNA 2003, Kearney and Peebles 19...",Boerhavia scandens,NYCTAGINACEAE,perennial,native,0,vine,610.0,1372.0
295,Commicarpus,scandens,Richard W. Spellenberg in Flora of North Ameri...,NaN,"Wiggins 1964, FNA 2003, Kearney and Peebles 19...",Commicarpus scandens,NYCTAGINACEAE,perennial,native,0,vine,610.0,1372.0
877,Machaeranthera,pinnatifida,Ronald L. Hartman in Flora of North America (v...,NaN,"FNA 2006, Allred and Ivey 2012 Duration : Pere...",Machaeranthera pinnatifida,ASTERACEAE,perennial,native,1,herb,305.0,1676.0
112,Xanthisma,spinulosum,Ronald L. Hartman in Flora of North America (v...,NaN,"FNA 2006, Allred and Ivey 2012 Duration : Pere...",Xanthisma spinulosum,ASTERACEAE,perennial,native,0,subshrub,305.0,1676.0
806,Machaeranthera,arida,"Ronald L. Hartman, David J. Bogler in Flora of...",NaN,"Wiggins 1964, Kearney and Peebles 1969, Jepson...",Machaeranthera arida,ASTERACEAE,annual,native,0,herb,61.0,1000.0
43,Arida,arizonica,"Ronald L. Hartman, David J. Bogler in Flora of...",NaN,"Wiggins 1964, Kearney and Peebles 1969, Jepson...",Arida arizonica,ASTERACEAE,annual,native,0,herb,61.0,1000.0
1021,Bolboschoenus,maritimus,S. Galen Smith in Flora of North America (vol....,NaN,NaN,Bolboschoenus maritimus,CYPERACEAE,perennial,non-native,1,grass,0.0,2000.0
817,Schoenoplectus,maritimus,S. Galen Smith in Flora of North America (vol....,NaN,NaN,Schoenoplectus maritimus,CYPERACEAE,perennial,non-native,1,grass,NaN,NaN
803,Suaeda,moquinii,"Stanley L. Welsh, Clifford W. Crompton & Steve...",NaN,"FNA 2004, Heil et al 2013 Common Name : Mojave...",Suaeda moquinii,AMARANTHACEAE,perennial,native,0,subshrub,0.0,1600.0
15,Suaeda,nigra,"Stanley L. Welsh, Clifford W. Crompton & Steve...",NaN,"FNA 2004, Heil et al 2013 Common Name : Mojave...",Suaeda nigra,AMARANTHACEAE,perennial,native,0,shrub,0.0,1600.0
812,Lesquerella,purpurea,Steve L. O´Kane Jr. in Flora of North America ...,NaN,"Wiggins 1964, Kearney and Peebles 1969 Duratio...",Lesquerella purpurea,BRASSICACEAE,perennial,native,0,herb,400.0,2400.0
896,Physaria,purpurea,Steve L. O´Kane Jr. in Flora of North America ...,NaN,"Wiggins 1964, Kearney and Peebles 1969 Duratio...",Physaria purpurea,BRASSICACEAE,perennial,native,0,herb,400.0,2400.0

# Saving dataframe

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038 entries, 0 to 1037
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Genus               1038 non-null   object
 1   Species             1038 non-null   object
 2   FNA                 564 non-null    object
 3   VPAP                213 non-null    object
 4   SW Field Guide      950 non-null    object
 5   Species name        1038 non-null   object
 6   Family              1038 non-null   object
 7   duration_consensus  1038 non-null   object
 8   nativity_sw         1038 non-null   object
 9   aquatic             1038 non-null   int64
 10  lifeform            1038 non-null   object
 11  low_elev_m          979 non-null    float64
 12  high_elev_m         979 non-null    float64
dtypes: float64(2), int64(1), object(10)
memory usage: 105.6+ KB

In [105]:
df[(df.aquatic != 1) & (df.duration_consensus != 'annual') & (df.nativity_sw != 'non-native') & (df.low_elev_m < 1000)].shape

(404, 13)

In [106]:
df[(df.aquatic != 1) & (df.duration_consensus != 'annual') & (df.nativity_sw != 'non-native') & (df.low_elev_m < 1000)].lifeform.value_counts()

lifeform
herb          111
subshrub       88
shrub          63
grass          37
cactus         33
vine           21
pterophyte     20
tree           18
succulent      12
parasite        1
Name: count, dtype: int64

In [107]:
df.shape

(1038, 13)

In [ ]:
df.to_csv('plant_features.csv')